<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spindle</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body>
    <div id="app" class="site-wrap" v-cloak>
        <app-header :title="title"></app-header>

        <app-main>
            {{ block('body') }}
        </app-main>

        <app-footer>
            <p>
                &copy; {{ "now" | date('Y') }}. All rights reserved.
            </p>
        </app-footer>

        <modal id="example" v-show="modalVisible" @close-modal="closeModal()">
            <template v-slot:title>
                Modal Example
            </template>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus sapien, mattis quis orci quis, dignissim tempor augue. Sed in dictum est, et ultrices justo. Quisque hendrerit pulvinar iaculis.
            </p>
        </modal>
    </div>

    <script src="/assets/js/app.js"></script>
</body>
</html>
