<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    colors="true"
    bootstrap="config/bootstrap.php"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.4/phpunit.xsd">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit/</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">./tests/Integration/</directory>
            <exclude>./tests/Integration/DatabaseTestHelpers.php</exclude>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test" force="true" />
        <env name="DB_DRIVER" value="sqlite" force="true" />
        <env name="DB_DATABASE" value=":memory:" force="true" />
    </php>
</phpunit>
