.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    background-color: rgba(0,0,0,0.6);
}

.modal__outer {
    width: 100%;
    height: 100%;
    display: flex;
}

.modal__inner {
    width: 94%;
    max-width: 600px;
    margin: auto;
    position: relative;
    overflow-y: auto;
    border-radius: $border-radius-1;;
    background: #fff;
}

.modal__header,
.modal__footer {
    padding-right: 30px;
    padding-left: 30px;
    background: #ddd;
}

.modal__header {
    padding-top: 30px;
    padding-bottom: 30px;
}

.modal__title {
    @extend h4;
}

.modal__content {
    padding: 30px;
}

.modal__footer {
    padding-top: 15px;
    padding-bottom: 15px;
}
