{% extends 'base.twig' %}

{% block body %}
    <div class="txt-center">
        <h2>
            {{ code }}
            {% if description %}
                -
                {{ description }}
            {% endif %}
        </h2>

        <br>

        <p>
            Please get in touch if this problem persists.
        </p>
    </div>
{% endblock %}
